@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Raleway:400,700);

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all .5s ease-in-out 0;
    -webkit-transition: all .5s ease-in-out 0;
    -o-transition: all .5s ease-in-out 0;
    -ms-transition: all .5s ease-in-out 0;
    transition: all .5s ease-in-out 0;
    font-family: 'PT Sans', 'Helvetica', sans-serif;
    word-wrap: normal;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
    font-family: 'Raleway', sans-serif;
}

/*h1{
    font-size: 5em;
}*/
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.link {
    font-weight: bold;
    color: #000eb4;
}
.link:hover{
    color:#2581ff;
}

header{
    top: 0;
    position: fixed;
    height: 4em;
    width: 100%;
    border-bottom: solid 1px #EEE;
    text-align: center;
    position: fixed;
    background-color: white;
    display:;
}
header p{
    float: left;
    padding: 0.5em;
    margin-top: 0px;
    font-weight: bold;
}
nav ul{
    display:list-item;
    list-style: inside;
    list-style-type: none;
}
nav ul li{
    float: right;
    padding: 0.5em;
}
nav ul li a {
    color: black;
}

/*.margin-title{
    margin-top: 2em;
    margin-bottom: 2em;
}*/


.title-box{
    float:left;
    width:60%;
    /*margin-left:6%;
    margin-top:12%;*/
}

.title-img{
    float:left;
    width:33%
}

.text-gray{
    color: gray;
}
.text-cursive{
    font-style: italic;
}
.text-huge {
    font-size: 3em;
}

.hide-lowres{
    display: inline-block;
}

.clear:before,.clear:after {
	content:"";
	display:block;
	overflow:hidden
}
.clear:after {
	clear:both
}

.container{
    margin: auto;
    text-align: center;
    align-content: center;
    width: 1024px;
}

.text-white{
    color: white;
    text-shadow: 1px 1px 2px #555;
}
.text-block{
  text-align: left;
}

.caption{
    text-align: center;
    padding: 25px 0px;
    font-size: 2.5em;
    text-transform: uppercase;
}

.box{
    float:left;
    width:45%;
    margin:2%;
    text-align: center;
}

.box-item{
    margin-bottom: 45px;
}

.box-item h3{
    font-style: normal;
    font-size: 2.25em;
    #text-transform: uppercase;
    margin-bottom: 0px;
}

.box-item p{
    margin-top: 0px;
}

.box-list{
    display: block;
    font-size: 1em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    padding: 25px;
}
.list-container{
    text-align: left;
    #width: 100%;
}
.list-container ul li{
    margin-bottom: 1em;
}
.hover-box{
    padding: 1em;
    border-radius: 5px;
    transition: background-color 0.2s;
}
.hover-box:hover{
    background-color: rgba(200, 200, 200, 0.3);
}

.warning-box{
    background-color: #FFED8B;
    padding: 2em;
    text-align: center;
}

.show-lowres{
   display: none;
}

footer {
    font-size: 0.8em;
    border-top: solid 1px #EEE;
}

@media (max-width: 1024px){
    .container{
        margin: auto;
        text-align: center;
        align-content: center;
        width: 90%;
    }

    .box{
        width:100%;
        margin:2%;
        text-align: center;
    }

    .title-img{
        width:100%;
        margin: 2%;
    }

    .title-box{
        width:100%;
        margin: 2%;
    }
    .hide-lowres{
        display: none;
    }
    .show-lowres{
       display: block;
   }

   body{
     font-size: 0.8em;
   }
}
